body{
	margin:0px;
	background-color:white;
	margin-bottom:0px;
} 

.accueil{
	background-color:#b3b3b3;
	height:100%;
	
}

h4{
	font-size:100px;
	color:white;
	text-align:center;
	margin-top:0px;
	padding-top:20%;
	
}

.invisible {
  visibility: hidden;
}

ul.header{
  list-style-type: none;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  padding-left:0px;
  padding-top:5px;
  padding-bottom:5px;
 font-size:20px;
  background-color: #b3b3b3;
  width:100%;
  position: fixed;
  top: 0;
}


li {
  float: left;
  width:14.28%;
  font-weight:bold;
}

li a {
  display: block;
  color:#001a66;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lihead a:hover {
  background-color: #111;
  padding:10%;
  color:white;
}


h1{
	margin-left:15%;
	font-size:40px;
}

h3{
	color:blue;
	margin-left:20%;
	font-style:italic;
	font-size:22px;
	text-decoration:underline;
}


h2{
	text-align:center;
	font-weight:bold;
	font-size:15px;
}
prog{
	color:blue;
    background-image: none;
    background-color: red;
}

hr{
	margin-left:20%;
	margin-right:20%;
	margin-top:100px;
	margin-bottom:100px;
}

.experience{
	
	display:flex;
	flex-direction:column;
	
}
.experience p{
	text-align:center;
	font-weight:bold;
	padding-top:50px;
	font-size:20px;
}

.formation p{
	text-align:center;
	font-weight:bold;
	padding-top:50px;
	font-size:20px;
}

.propos
{
	font-size:20px;
	font-weight:bold;
	padding-left:25%;
	padding-right:25%;
	text-align:center;
	margin-top:50px;
}

button{
	margin-left:45%;
	width:100px;
	height:50px;
	color:red;
	border-color:blue;
}


.gend img{
	width:30%;
	float:right;
	padding:2%;
}

.capfun img{
	width:25%;
	float:left;
	margin-left:4%;
}

img {
  border-radius: 40px;
  display:inline-block;
}
div:target {
    padding-top: 7em; 
    margin-top: -7em; 
}

ul.compe {
	
	width:100%;
	text-align:center;
	padding-top:150px;
	padding-bottom:40px;
	overflow: hidden;

}


.li{
	width:24%;
	font-size:18px;
}

footer{
	background-color:#b3b3b3;
	width:100%;
	height:17%;
	
}

.lien{
  list-style-type: none;
  width:100%;
  text-align:center;
  padding:20px;
}

.esp{
	padding-left:10px;
	padding-right:50px;
}

form{
	width:80%;
	text-align:center;
	font-size:25px;
}
fieldset{
	width:80%;
	text-align:center;
}
.contact{
	text-align:center;
	margin-left:20%;
	margin-right:auto;
}
.moi{
	width:250px;
	height:270px;
	border-radius:50%;
	margin-bottom:50px;
}

.mention{
	text-align:center;
	width:100%;
	font-size:12px;
	padding:3px;
}